[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = git@github.com:CakeDC/migrations.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git@github.com:cakephp/debug_kit.git
[submodule "app/Plugin/ClearCache"]
	path = app/Plugin/ClearCache
	url = git@github.com:ceeram/clear_cache.git
[submodule "app/Plugin/Deploy"]
	path = app/Plugin/Deploy
	url = git@github.com:webtechnick/deploy.git
